# Numeros e Operações Matematicas

In [39]:
a = 2        
b = 3

print(a+b)   #soma
print(a-b)
print(a*b)
print(a/b)   
print(a%b)   #modulo
print(a//2)
print(a**b)
print(float(a))
type(float(a))

5
-1
6
0.6666666666666666
2
1
8
2.0

float

In [2]:
# Operações Relacionais
c=1
d=2

if(a==d):
    print(c)
if(a!=c):
    print(a)
if(d>c):
    print(d)
if(a<=b):
    print(b)

1
2
2
3

In [3]:
#Conversão

print(float(1))
print(int(6.5555))
print(hex(15))
print(bin(10))
print(abs(-8))       # absoluto
print(round(3.14))   # arredondamento 
print(pow(a,c))      # potencia

1.0
6
0xf
0b1010
8
3
2

In [4]:
# Operadores de Atribuição
a+=1
b-=1
c*=0
d/=2
print(a)
print(b)
print(c)
print(d)
print("\n")
a%=5
b**=2
c//=1
print(a)
print(b)
print(c)
print(d)

3
2
0
1.0


3
4
0
1.0

In [5]:
# Operadores Lógicos
# AND - OR - NOT}

In [6]:
# Declarações Multiplas

cara1, cara2, cara3 = "Ana", "Bia", "Carlos"
print(cara1, cara2, cara3)
fruta1 = fruta2 = "morango"
print(fruta1, fruta2)

Ana Bia Carlos
morango morango

In [7]:
# Concatenação de variáveis
nome = "Steve"
sobrenome = "Rogers"
nome_completo = nome + " " + sobrenome
print(nome_completo)

Steve Rogers

In [8]:
# STRINGS
print("Testando variáveis")

s = "Steve Rogers"
print(s)
print(s[6])
print(s[1:12])
print(s[::2])
print(s[::-1])

Testando variáveis
Steve Rogers
R
teve Rogers
SeeRgr
sregoR evetS

In [9]:
# Funções BUILT-In de Strings
print(s.upper())      # maiusculas
print(s.lower())      # minusculas
print(s.split())      # separar pelos espaços
print(s.capitalize()) # primeira letra maiusculas
print(s.count('s'))   # contar numero de s
print(s.find('S'))    # contar numero de S (maiusculo)
print(s)
print(s.islower())    # tudo minusculo
s = s.upper()
print(s.isupper())    # tudo maiusculo
print(s.isspace())    # somente espaços
print(s.endswith('S')) #termina com determinada letra

# Comparando Strings
print(" ")
print("Python" == "R") # Comparação de Strings
print(s[0] == 'S')     # Comparação de Strings

STEVE ROGERS
steve rogers
['Steve', 'Rogers']
Steve rogers
1
0
Steve Rogers
False
True
False
True

False
True

In [10]:
# LISTAS
lista1 = ['amanda', 'bia', 'cesar']
print(lista1)
print(lista1[0])

item1 = lista1[0]
item2 = lista1[1]
item3 = lista1[2]
print(item1, item2, item3)

lista1[2] = 'DANIEL'
print(lista1)

del lista1[0]
print(lista1)

['amanda', 'bia', 'cesar']
amanda
amanda bia cesar
['amanda', 'bia', 'DANIEL']
['bia', 'DANIEL']

In [11]:
# Listas Aninhadas

lista2 = [['a','b', 'c'], ['1', '2'], ['amanda', 'bia', 'camila']]
print(lista2)
print(lista2[0][2])         # Seleciona um elemento da lista aninhada
print(lista2[2][1])
print(" ")

lista3 = lista1 + lista2    # Soma das listas
print(lista3)
print(" ")

lista4 = [1, 2]             # Verifica se há um elemento especifico na lista
print(1 in lista4)

[['a', 'b', 'c'], ['1', '2'], ['amanda', 'bia', 'camila']]
c
bia

['bia', 'DANIEL', ['a', 'b', 'c'], ['1', '2'], ['amanda', 'bia', 'camila']]

True

In [14]:
# Operadores Built-In

print(type(lista3))
len(lista3)               # Apresenta numero de elementos da lista
print(lista4.count('4'))  # Conta numero de elementos de uma lista
lista4.append('4')        # Adiciona elemento em uma lista
print(lista4)

print(lista4.index(2))    # Indexação, posição do numero na lista
lista4.insert(0, 'ana')   # Insere um elemento em posição específica

lista4.remove('4')        # Remove primeiro elemento especifico
print(lista4)

lista4.reverse
print(lista4)

<class 'list'>
1
['ana', 'ana', 1, 2, '4', '4']
3
['ana', 'ana', 'ana', 1, 2, '4']
['ana', 'ana', 'ana', 1, 2, '4']

In [ ]:
max(lista4)     # Apresenta maior elemento, EXCETO para listas aninhadas
min(lista4)     # Apresenta menor elemento

lista4.extend['camila', 'zé trovão']  # NÃO FUNCIONA!
print(lista4)

In [32]:
# DICIONÁRIOS

estudantes = {"Ana":0, "Bruno":1, "Carlos":2, "Danilo":3}

print(len(estudantes))     # Numero de elementos do dicionario 
print(estudantes.keys())   # Apresenta as chaves
print(estudantes.values()) # Apresenta os valores
print(estudantes.items())  # Apresenta os itens

dicionario1 = {'well': 'a', 'normal': 'b', 'bad': 'c'}
estudantes.update(dicionario1)
print(estudantes)

dicionario2 = {}
print(dicionario2)
dicionario2['ana'] = 0.6    # Atribui valor para chave
dicionario2[0.1] = "Python"
print(dicionario2) 
D1 = dicionario2['ana']     # Atribui variavel para chave
print(D1)

dicionario3 = {'chave1': 'ana', 'chave2': 'BIA', 'chave3': 'mae', 'chave4': 'daniel'}
print(dicionario3['chave1'][0].upper())     # Seleciona o caracter no item na chave 1
print(dicionario3['chave2'][::2].lower())     # Seleciona o caracter no item na chave 1

4
dict_keys(['Ana', 'Bruno', 'Carlos', 'Danilo'])
dict_values([0, 1, 2, 3])
dict_items([('Ana', 0), ('Bruno', 1), ('Carlos', 2), ('Danilo', 3)])
{'Ana': 0, 'Bruno': 1, 'Carlos': 2, 'Danilo': 3, 'well': 'a', 'normal': 'b', 'bad': 'c'}
{}
{'ana': 0.6, 0.1: 'Python'}
0.6
A
ba

In [34]:
# Dicionarios Aninhados

dicionario4 = {'chave1': {'chave1_aninhada1': 0, 'chave1_aninhada2': 1}, 'chave2':{'chave2_aninhada1':'ana', 'chave2_aninhada2':'bia'}}
print(dicionario4['chave1'])

{'chave1_aninhada1': 0, 'chave1_aninhada2': 1}

In [17]:
# Tuplas

tupla1 = ("ana", 'Biatriz', 14)
print(tupla1)
print(len(tupla1))
print(tupla1[1:])
del tupla1
print(" ")

lista5 = ['ana', 'bia', 'carlos', 'daniel']
print(lista5)
tupla2 = tuple(lista5)
print(tupla2)

('ana', 'Biatriz', 14)
3
('Biatriz', 14)

['ana', 'bia', 'carlos', 'daniel']
('ana', 'bia', 'carlos', 'daniel')

# LISTA EXERCICIOS Q2

In [12]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
lista1_q2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(lista1_q2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lista2_q2 = ['objeto1', 'objeto2', 'objeto3', 'objeto4', 'objeto5']
print(lista2_q2)

['objeto1', 'objeto2', 'objeto3', 'objeto4', 'objeto5']

In [15]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
string1_q2 = 'Olá'
string2_q2 = ' Mundo'
string3_q2 = string1_q2 + string2_q2 
print(string3_q2)

Olá Mundo

In [19]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

tupla1_q2 = (1, 2, 2, 3, 4, 4, 4, 5)
print(tupla1_q2.count(4))

3

In [21]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dicionario1_q2 = {}
print(dicionario1_q2)

{}

In [22]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dicionario2_q2 = {'valor1':1, 'valor2':2, 'valor3':3}
print(dicionario2_q2)

{'valor1': 1, 'valor2': 2, 'valor3': 3}

In [28]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dicionario2_q2['Ana'] = 5
print(dicionario2_q2)

{'valor1': 1, 'valor2': 2, 'valor3': 3, 'Ana': 5}

In [29]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.
dicionario3_q2 = {'elemento1':{'chavel':1, 'chave2':2}, 'elemento2':'ana', 'elemento3':'Bruno'}
print(dicionario3_q2)

{'elemento1': {'chavel': 1, 'chave2': 2}, 'elemento2': 'ana', 'elemento3': 'Bruno'}

In [31]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.
tupla_exe9 = ('ana', 'bia')
dicionario_exe9 = {'X': 0, 'Y': 1}
lista3_q2 = ["Hello World", tupla_exe9, dicionario_exe9, 4.95]
print(lista3_q2)

['Hello World', ('ana', 'bia'), {'X': 0, 'Y': 1}, 4.95]

In [33]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
print(frase[0:17])

Cientista de Dado

# LEMBRE-SE

In [ ]:
# TUPLAS: uso de PARENTESES
# LISTAS: uso de CONCHETES
# DICIONARIOS: uso de CHAVES